<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div class="meeting">
      <p><%= meeting.name %></p>
    </div>
  <% end %>
<% end %>
