<%= month_calendar(events: @meetings) do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div class="meeting">
      <p>¥<%= meeting.amounts.to_s.gsub(/(\d)(?=\d{3}+$)/, '\\1,') %></p>
    </div>
  <% end %>
<% end %>
